<div class="p-4">
    <h4>ภารกิจพิเศษ</h4>
    <div>
        <p>1. จงอัพโหลดภาพความสำเร็จในสายงานด้านไอทีที่วาดฝันไว้</p>
    </div>
    <div>
        <p>2. กด Like page & Share ข่าวสารกิจกรรมนี้ไปยังเพื่อนของคุณโดยตั้งเป็นโพสต์สาธารณะ (อัพโหลดภาพการแชร์) <span><a href="https://facebook.com/good.geek.community/posts/200911398208335">GEEK in U Post <i class="fas fa-external-link-alt"></i></a></span></p>
        <p><u>ตัวอย่างการแชร์</u></p>
        <a class="mt-3" target="_blank" href="https://geekinu.com/assets/images/quota/fb-sharing-example.png">
            <picture class="test-example">
                <img class="test-example-image" src="assets/images/quota/fb-sharing-example.png" alt="fb-sharing-example" loading="lazy">
            </picture>
        </a>
    </div>
    <!--Solve a problem-->
    <div class="mt-3">
        <p>3. แก้โจทย์ปัญหา <span><a href="https://app.codesignal.com/challenge/p4qArskGsNtf6ecdP">missingNumber <i class="fas fa-external-link-alt"></i></a></span> จากเวปไซต์ <span><a href="https://codesignal.com/challenge/p4qArskGsNtf6ecdP">Code Signal <i class="fas fa-external-link-alt"></i></a></span><br>
            โดยน้องๆสามารถเขียนโปรแกรมแก้โจทย์ข้อนี้ผ่านเวปไซต์ Codesignal ได้เลย!! แล้วเมื่อทำเสร็จอย่าลืมแคปภาพเอามาแชร์ด้วยนะคร้าบ<br>
            <span class="text-danger">**</span>หากน้องๆไม่สามารถเขียนโปรแกรมได้ให้เขียน Flow Diagram วิธีการแก้ไขโจทย์ข้อนี้! แล้วนำมาแชร์เช่นกันครับ:)
        </p>
        <p><u>ตัวอย่างโจทย์</u></p>
        <a target="_blank" href="https://geekinu.com/assets/images/quota/codesignal-example.png">
            <picture class="test-example">
                <img class="codesignal-example-image" src="assets/images/quota/codesignal-example.png" alt="codesignal-example" loading=lazy>
            </picture>
        </a>
    </div>
    <div class="mt-3">
        <p>4. กด Apply ใบสมัคร และกรอกข้อมูลให้ครบถ้วน ที่เวปไซต์ <span><a target="_blank" href="https://www.eventpop.me/e/10337/geekinu-2020">Eventpop</a></span></p>
    </div>
</div>
