
<!-- Customers -->
<div class="container-fluid">
    <div class="row text-center bg-custom-light pt-4 pb-4">
        <div class="col-12">
            <h1 class="mb-4 text-dark"><strong>Sponsors by</strong></h1>
            <span class="m-2"><img class="sponsor-img" src="assets/images/sponsors/goodgeek-logo-landscape.png" alt="goodgeekclub-logo"></span>
            <span><img class="sponsor-img" src="assets/images/sponsors/ict-spu-logo.png" alt="ict-spu-logo"></span>
        </div>
        <div class="mt-5 mb-3"></div>
        <div class="col-12">
            <h4 class="mb-2 text-dark" style="font-weight: 400">Supported by</h4>
            <span *ngFor="let sup of supports">
                <img class="support-img m-3" [src]="sup.imgUrl" [alt]="sup.imgAlt">
            </span>
        </div>
    </div>
</div>


