.img-banner {
    height: 480px;
    width: auto;
}

.card {
    max-width: 1024px;
}

.btn {
    color: white;
    background-color: salmon;
    border: 1px solid salmon;
    padding: 7px;
    transition: color 0.4s, background-color 0.4s, border 0.4s;
}

.btn:active,
.btn:hover {
    border: 1px solid salmon;
    background-color: #fa807200;
    color: salmon;
}

.btn-register {
    color: white;
    background-color: salmon;
}
