

<!-- Footer -->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="footer-col">
                    <h4>ทีมจัดงาน
                    </h4>
                    <p>ชมรม GoodGeekClub ชมรมที่มุ่งเน้นพัฒนาเยาวชนไอทีเพื่อสร้างสรรค์สิ่งดีๆให้สังคม</p>
                </div>
            </div> <!-- end of col -->
            <div class="col-md-4">
                <div class="footer-col middle">
                    <h4>หากมีข้อสงสัยเพิ่มเติม สามารถติดต่อได้ที่</h4>
                    <ul class="list-unstyled li-space-lg">
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <span class="media-body">พี่เน 099-999-9999 <a class="turquoise"></a></span>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <span class="media-body">พี่ปอ099-999-9999 <a class="turquoise" ></a></span>
                        </li>
                    </ul>
                </div>
            </div> <!-- end of col -->
            <div class="col-md-4">
                <div class="footer-col last">
                    <h4>Social Media</h4>
                    <ul class="list-unstyled li-space-lg">
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <span class="media-body">Facebook <a class="turquoise" href="https://www.facebook.com/good.geek.community/">Good Geek</a></span>
                        </li>
                        <li class="media">
                            <i class="fas fa-square"></i>
                            <span class="media-body">instagram <a class="turquoise" href="https://www.instagram.com/goodgeek.club/">goodgeek.club</a></span>
                        </li>
                    </ul>
                </div>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of footer -->
<!-- end of footer -->


<!-- Copyright -->
<div class="copyright">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <p class="p-small">Copyright © 2020 <a href="#">GoodGeekClub</a> - All rights reserved</p>
            </div> <!-- end of col -->
        </div> <!-- enf of row -->
    </div> <!-- end of container -->
</div> <!-- end of copyright -->
<!-- end of copyright -->
