<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            <img class="img-fluid" src="assets/images/header-geekinu.png" alt="geekinu-header">
        </div>
        <div class="mb-2 mt-2"></div>
        <div class="col-12 text-center mt-5 mb-5">
            <a class="text-center" href="https://www.eventpop.me/e/10337" target="_blank"><button class="btn btn-lg">Register</button></a>
        </div>
        <div class="mb-2 mt-2"></div>
    </div>
</div>
