<div class="container">
    <div class="row">
        <div class="col-lg-6  col-sm-12 order-sm-last order-lg-first pl-4 pr-4">
            <h2 class="mt-sm-4 mb-3">WHAT IS Geek In U?</h2>
            <p class="text-subtitle">ในปัจจุบันเทคโนโลยีมีบทบาทต่อชีวิตเป็นอย่างมาก เช่นเดียวกันอาชีพด้านเทคโนโลยีก็เป็นที่นิยมมากขึ้น จึงทำให้ปัจจุบันมีนักเรียนที่ต้องการ เข้าศึกษาต่อในสาขาที่เกี่ยวข้องกับเทคโนโลยีเพิ่มมากขึ้น แต่ด้วยความที่สายงานทางเทคโนโลยีนั้นมีหลากหลายสาขา จนทำให้บางครั้งน้องๆ นักเรียนที่อยากศึกษาต่อด้านนี้ สับสนไม่แน่ใจว่าควรเลือกเรียนเรียนสาขาไหนที่ตรงกับความถนัด และความต้องการของตัวเอง จีงเกิดเป็นคำถามมากมายบนโลกโซเชียล เกี่ยวกับการเตรียมตัว การเลิอกสาขา รวมถึงควรเลือกมหาวิทยาลัยไหน ที่จะทำให้สามารถต่อยอดการทำงานในสายอาชีพนี้ได้ โครงการนี้จึงเกิดขึ้นเพื่อให้คำแนะนำ ให้แนวทาง การเตรียมตัว ความเชื่อมั่นที่จะตัดสินใจเลือกสาขาวิชา และมหาวิทยาลัยที่จะเข้าศึกษาต่อในงานด้านเทคโนโลยี</p>
        </div>
        <div class="col-lg-6  col-sm-12 order-sm-first order-lg-last">
            <img class="img-fluid  pr-3 pl-3" src="assets/images/geekinu-what.png" alt="geekonu-what">
        </div>
    </div>
</div>
<div style="margin-top: 8rem"></div>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-sm-12">
            <img class="img-fluid pr-3 pl-3" src="assets/images/geekinu-obj.png" alt="geekinu-objective">
        </div>
        <div class="col-lg-6 col-sm-12 pl-4 pr-4">
            <h2 class="mt-sm-4 mb-3">วัตถุประสงค์</h2>
            <p *ngFor="let obj of objectives" class="text-subtitle">
                <i class="fas fa-check mr-1" style="color: salmon;"></i><span>{{obj}}</span>
            </p>
        </div>
    </div>
</div>
<div style="margin-bottom: 8rem"></div>
