<!-- Details 1 -->
<div class="basic-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="text-container">
                    <h2>WHAT IS Geek In U?</h2>
                    <p class="card-text-title">ในปัจจุบันเทคโนโลยีมีบทบาทต่อชีวิตเป็นอย่างมาก เช่นเดียวกันอาชีพด้านเทคโนโลยีก็เป็นที่นิยมมากขึ้น จึงทำให้ปัจจุบันมีนักเรียนที่ต้องการ เข้าศึกษาต่อในสาขาที่เกี่ยวข้องกับเทคโนโลยีเพิ่มมากขึ้น แต่ด้วยความที่สายงานทางเทคโนโลยีนั้นมีหลากหลายสาขา จนทำให้บางครั้งน้องๆ นักเรียนที่อยากศึกษาต่อด้านนี้ สับสนไม่แน่ใจว่าควรเลือกเรียนเรียนสาขาไหนที่ตรงกับความถนัด และความต้องการของตัวเอง จีงเกิดเป็นคำถามมากมายบนโลกโซเชียล เกี่ยวกับการเตรียมตัว การเลิอกสาขา รวมถึงควรเลือกมหาวิทยาลัยไหน ที่จะทำให้สามารถต่อยอดการทำงานในสายอาชีพนี้ได้ โครงการนี้จึงเกิดขึ้นเพื่อให้คำแนะนำ ให้แนวทาง การเตรียมตัว ความเชื่อมั่นที่จะตัดสินใจเลือกสาขาวิชา และมหาวิทยาลัยที่จะเข้าศึกษาต่อในงานด้านเทคโนโลยี</p>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
            <div class="col-lg-6">
                <div class="image-container">
                    <img class="img-fluid" src="assets/images/3567801.jpg" alt="alternative">
                </div> <!-- end of image-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-1 -->
<!-- end of details 1 -->


<!-- Details 2 -->
<div class="basic-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="image-container">
                    <img class="img-fluid" src="assets/images/3187910.jpg" alt="alternative">
                </div> <!-- end of image-container -->
            </div> <!-- end of col -->
            <div class="col-lg-6">
                <div class="text-container">
                    <h2>วัตถุประสงค์</h2>
                    <p *ngFor="let obj of objectives" class="card-subtitle">
                        <i class="fas fa-check"></i>
                        <span>{{obj}}</span>
                    </p>
                </div> <!-- end of text-container -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of basic-2 -->
<!-- end of details 2 -->
