*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-rendering: optimizeLegibility;
    user-select: none;
}
body{
    color: #000;
    font-size: 20px;
}
/* HEADER */
header{
    background-image: url(../images/5264.jpg);
    height: 100vh;
    background-position: center;
    background-size: cover;
}
/* NAVBAR */
nav{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    font-family: Mitr-Regular;
}
nav ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul li{
    padding: 0 20px;
    list-style: none;
}
nav ul li a{
    text-decoration: none;
    font-size: 83%;
    color: #000;
}
/* NAVBAR: items */
/* about */
.buy-ticket{
    margin: 0 7px;
    padding: 7px;
    border: 1px solid #ff004d;
    border-radius: 8px;
    background-color: #ff004d;
    transition: background-color 0.5s;
}
.buy-ticket a{
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: color 0.5s;
}
.buy-ticket:hover,
.buy-ticket:hover a{
    background-color: #ff004c00;
    color: #ff004d;
}
/* location, speakers, sponsors */
.about a,
.location a,
.speakers a,
.sponsors a{
    margin: 0 7px;
    border-bottom: 4px solid transparent;
    transition: border-bottom 0.5s, padding 0.5s, margin 0.5s;
}
.about a:hover,
.location a:hover,
.speakers a:hover,
.sponsors a:hover{
    margin: 0 0;
    padding: 0 7px;
    border-bottom: 4px solid #ff004d;
}
/*HEADER TEXT*/
.header-text{
    height: 100%;
    padding: 40px 80px 0 0;
    text-align: end;
    font-family: Roboto-Regular;
    font-size: 55px;
    color: #000;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
.header-text h1{
    font-family: Monoton-Regular;
    font-size: 100px;
    font-weight: normal;
    color: #000;
    text-shadow: 2px 4px 3px  rgba(0,0,0,0.3);
}
.header-text p ion-icon{
    color: #ff004d;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
}
@font-face{
    font-family: Mitr-Regular;
    src: url(../fonts/Mitr-Regular.ttf);
}
@font-face{
    font-family: Monoton-Regular;
    src: url(../fonts/Monoton-Regular.ttf);
}
@font-face{
    font-family: Roboto-Regular;
    src: url(../fonts/Roboto-Regular.ttf);
}