<!-- Services -->
<div id="services1" class="cards-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>ข้อมูลเบื้องต้นของค่ายนี้</h2>
                <p class="p-heading p-large"></p>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div *ngFor="let element of info" class="col-lg-4 col-md-12">
                <!-- Card -->
                <div class="card">
                    <picture>
                        <source [srcset]="element.imgUrl.replace('.png', '.webp')" type="image/webp">
                        <img class="card-image" [src]="element.imgUrl" alt="alternative">
                    </picture>
                    <div class="card-body">
                        <h4 class="card-title">{{element.title}}</h4>
                        <p class="card-subtitle">{{element.description}}</p>
                    </div>
                </div>
                <!-- end of card -->
            </div> <!-- end of col -->
        </div> <!-- end of row -->
    </div> <!-- end of container -->
</div> <!-- end of cards-1 -->
<!-- end of services -->
