.nav-item{
    margin-left: 30px;
}
.n-link{
    margin: 0 8px;
    padding: 0;
    border-bottom: 4px solid transparent;
    transition: border-bottom 0.4s, margin 0.4s, padding 0.4s;
}
.n-link:active,
.n-link:hover{
    margin: 0;
    padding: 0 8px;
    border-bottom: 4px solid salmon;
    text-decoration: none;
}
.btn{
    background-color: salmon;
    color: #fff;
    border: 1px solid coral;
    transition: background-color 0.5s, color 0.5s, border 0.5s;
}
.btn:active,
.btn:hover{
    background-color: #f0465100;
    color: salmon;
    border: 1px solid #f04651;
}
