<nav class="navbar navbar-expand-lg sticky-top navbar-light bg-white">
    <div class="container-fluid">
        <!-- Image Logo -->
        <a class="navbar-brand ml-4" href="index.html">
            <picture>
                <source srcset="assets/images/geekinu-logo.webp" type="image/webp">
                <img src="assets/images/geekinu-logo.png" width="48px" alt="alternative">
            </picture>
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mr-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active n-link" aria-current="page" href="#">หน้าหลัก</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link n-link" [routerLink]="''" [fragment]="'agenda'">กำหนดการ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link n-link" [routerLink]="'speakers'">วิทยากร</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link n-link" [routerLink]="''" [fragment]="'location'">สถานที่</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link n-link" [routerLink]="''" [fragment]="'pricing'">ราคา</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link n-link" [routerLink]="''" [fragment]="'contact'">ติดต่อ</a>
                </li>
            </ul>
            <span class="navbar-text">
                <a class="nav-link" href="https://www.eventpop.me/e/10337" tabindex="-1" aria-disabled="true"><button class="btn btn-primary btn-sm">รับบัตร</button></a>
            </span>
        </div>
    </div>
</nav>
