<div class="agenda-section">
    <div class="agenda">
        <div class="agenda-header">กำหนดการ</div>
        <div class="agenda-item-container">
            <div class="agenda-item">
                <div class="agenda-time-text">08.30</div>
                <div class="agenda-description-text">ลงทะเบียน</div>
            </div>
            <div class="agenda-item">
                <div class="agenda-time-text">09.00</div>
                <div class="agenda-description-text">แจ้งกำหนดการภาพรวมและแนะนำกิจกรรม</div>
            </div>
            <div class="agenda-item">
                <div class="agenda-time-text">10.00</div>
                <div class="agenda-description-text">หลักสูตรและการตัดสินใจเลือกสาขาวิชาทางด้านเทคโนโลยีในปัจจุบัน</div>
            </div>
            <div class="agenda-item">
                <div class="agenda-time-text">11.00</div>
                <div class="agenda-description-text">การใช้ชีวิตในมหาวิทยาลัย</div>
            </div>
            <div class="agenda-item">
                <div class="agenda-time-text">13.00-17.00</div>
                <div class="agenda-description-text">Workshop ทดลองใช้งานจริง ในหัวข้อดังต่อไปนี้</div>
            </div>
            <div class="agenda-item">
                <div class="agenda-time-text">15.00 - 15.15</div>
                <div class="agenda-description-text">พักเบรก</div>
            </div>
            <div class="agenda-item">
                <div class="agenda-time-text">17.15</div>
                <div class="agenda-description-text">ลงทะเบียนรับของที่ระลึก</div>
            </div>
            <div class="agenda-item">
                <div class="agenda-time-text">17.30</div>
                <div class="agenda-description-text">เสร็จกิจกรรม</div>
            </div>
        </div>
    </div>
</div>