@import url('https://fonts.googleapis.com/css?family=Raleway:400,400i,600,700,700i&display=swap');
*{
    font-family: 400 0.875rem/1.375rem "Raleway", sans-serif;
}
.agenda-section{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    width: 100%;
}
.agenda{
    width: 60%;
}
.agenda-header{
    padding: 5px 0 20px 8px;
    background-color: #d43943;
    color: #fff;
    font-size: 32px;
}
.agenda-item-container{
    padding: 10px;
    font-size: 20px;
    color: #393939;
}
.agenda-item{
    display: grid;
    grid-template-columns: 3fr 9fr;
    border-bottom: 1px dashed #f04651;
}

.title {
    color: salmon;
    font-weight: bold;
}

.subtitle {
    color: #626262;
}

a {
    color: cornflowerblue;
}
