<!-- Services -->
<div id="services" class="cards-1">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h2>กำหนดการ</h2>
            </div> <!-- end of col -->
        </div> <!-- end of row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="container mt-5 mb-5">
                    <div class="row">
                        <div class="col-md-6 offset-md-3">
                            <ul class="timeline">
                                <li>
                                    <a>รับสมัคร</a>
                                    <a class="float-right">20 November, 2020</a>
                                    <br><br/>
                                    <br><br/>
                                    <p></p>
                                </li>
                                <li>
                                    <a>ประกาศรายชื่อผู้มีสิทธิ์เข้าร่วมกิจกรรม</a>
                                    <a class="float-right">6 December, 2020</a>
                                    <br><br/>
                                    <br><br/>
                                    <p></p>
                                </li>
                                <li>
                                    <a>ยืนยันสิทธิ์การเข้าร่วมกิจกรรม</a>
                                    <a class="float-right">7 December, 2020</a>
                                    <br><br/>
                                    <br><br/>
                                    <p></p>
                                </li>
                                <li>
                                    <a>วันกิจกรรม</a>
                                    <a class="float-right">11 December, 2020</a>
                                    <br><br/>
                                    <br><br/>
                                    <p></p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- end of container -->
