<div class="container">
    <div class="px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
        <h2>บัตรร่วมงาน</h2>
        <p>ค่าใช้จ่ายในการเข้าร่วมกิจกรรม GEEK in U มี 3 รูปแบบ ให้เลือกตามรายการด้านล่าง</p>
    </div>

    <div class="row mb-3 text-center">
        <div *ngFor="let price of prices" class="col-lg-4 col-sm-12">
            <div class="card mb-4 shadow-sm mx-auto">
                <div class="card-header">
                    <h4 class="my-0 fw-normal" >{{price.title}}</h4>
                </div>
                <div class="card-body">
                    <h1 class="card-title pricing-card-title" [innerHTML]="price.price"></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                        <li *ngFor="let value of price.detail">{{value}}</li>
                    </ul>
                </div>
                <div *ngIf="price.href">
                    <a [href]="price.href">
                        <button style="min-width: 180px" type="button" [disabled]="price.disabled" class="btn btn-lg mb-3 mr-3 ml-3">{{price.btnTitle}}</button>
                    </a>
                </div>
                <div *ngIf="!price.href">
                    <button
                        style="min-width: 180px"
                        data-toggle="modal"
                        data-target="#quota-info"
                        type="button"
                        [disabled]="price.disabled"
                        class="btn btn-lg mb-3 mr-3 ml-3">{{price.btnTitle}}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="quota-info" tabindex="-1" aria-labelledby="quotaModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="quotaModalLabel">ขั้นตอนการสมัคร Quota</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"></button>
            </div>
            <app-quota-content></app-quota-content>
            <div class="modal-footer">
                <button type="button" class="btn btn-close-bottom" data-dismiss="modal">Close</button>
                <a target="_blank" href="https://www.eventpop.me/organizers/4748/events/10337-geekinu-2020/application_forms/707/applicants">
                    <button type="button" class="btn btn-register">REGISTER</button>
                </a>
            </div>
        </div>
    </div>
</div>
